#ansible/ssh.cfg

Host ansible-control
    HostName 54.152.97.56 # Update with public IP of the control node
    User hyfer
    IdentityFile /home/dev-dowusubekoe/Downloads/keypair/dmi-cohort2-keypair.pem
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

#Matches all internal lab nodes
Host *.hyfertechsolutions.com
    IdentityFile /home/dev-dowusubekoe/Downloads/keypair/dmi-cohort2-keypair.pem
    ProxyJump ansible-control
    User hyfer
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    