#ansible/ssh.cfg

Host ansible-control
    HostName <IP>
    User hyfer
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

#Matches all internal lab nodes
Host *.hyfertechsolutions.com
    ProxyJump ansible-control
    User hyfer
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null